body {
    box-sizing: border-box;
    color:#373737;
    background: #212121;
    font-size: 16px;
    font-family: 微软雅黑, 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 720px;
    padding: 20px 10px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color:#222222;
    letter-spacing: -1px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

label {
    font-weight: normal; 
}

.align-right{
    text-align: right;
}

.align-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline{ 
    display:inline
} 

#title {
    font-size: 42px;
    font-weight: 700;
    color: #45A9F7;
}

#tagline {
    color:#ffffff;
    font-weight: 700;
    padding-bottom: 10px;
}

#content {
    background: #f2f2f2;
    min-height: 360px;
}
