<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="{{ config.get('blog')['owner'] }}'s blog based on Laky-Blog">
        <link rel="stylesheet" type="text/css" href="/static/basic.css">
        {% endblock %}
    </head>
    <body>
        <div id="header" class="outer">
            {% include 'header.html' %}
        </div>
        <div id="content" class="outer">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="outer">
            {% include 'footer.html' %}
        </div>
    </body>
    {% block script%}
        <script src="/static/basic.js"></script>
    {% endblock %}
</html>
